body {
  background-color: rgb(182,205,228);
  font-family: Lato, helvetica, sans-serif;
  font-size:12px;
}



#mainpage_name {
  font-size:4em;
  text-align:center;
  text-transform: capitalize;
}

.mainpage_menu {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
    position:fixed;
    top:0px;
    background-color: rgb(182,205,228);
    width:100%;
    border-bottom:1px solid black;
}

.mainpage_menu li {
  display:inline;
}

.mainpage_menu li a {
 text-align:center;
 text-decoration: none;
 margin-left:15px;
 margin-right:15px;
 color:black;
 font-size:1.5em;
 text-transform: lowercase;
}

.mainpage_menu li a:hover {
  background-color: grey;
  border-radius:10px;
  padding:8px;
  opacity:0.7;

}

.pageheader {
  font-family: Lato, helvetica, sans-serif;
  font-size:4em;
  text-align:center;
}
.myface{
  border-radius:40px;
}
#newideas {
  font-size:1.5em;
  position:absolute;
  top:50px;
}
#research-ideas-input{
  height:100px;
}

.related-links-formatting{
}

.related-links-formatting li a{
  text-decoration: underline;
  color: black;
  margin: 15px;
}
